body{

font-family:'Segoe UI',sans-serif;

background:
linear-gradient(
rgba(0,0,0,0.75),
rgba(15,23,42,0.75)
),
url("../images/book1.jpg");

background-size:cover;

background-position:center;

background-repeat:no-repeat;

background-attachment:fixed;

min-height:100vh;

padding-top:90px;

color:white;
}

.navbar{

background:#111;

border:none;
}

.navbar-brand{

color:#ffd700;

font-size:24px;

font-weight:bold;
}

.navbar-nav li a{

color:white;
}

.navbar-nav li a:hover{

color:#ffd700;
}

.container{

max-width:700px;

margin:auto;
}

.page-title{

text-align:center;

font-size:55px;

font-weight:900;

color:#ffd700;

margin-bottom:35px;

letter-spacing:3px;

text-shadow:
0 0 15px rgba(255,215,0,.5);
}

form{

background:
rgba(255,255,255,.10);

padding:35px;

border-radius:25px;

backdrop-filter:blur(12px);

border:1px solid rgba(255,255,255,.15);

box-shadow:
0 15px 35px rgba(0,0,0,.4);
}

.form-group{

margin-bottom:20px;
}

label{

color:white;

font-size:16px;

font-weight:bold;

margin-bottom:8px;
}

.form-control{

height:50px;

border:none;

border-radius:12px;

font-size:16px;

box-shadow:none;
}

.form-control:focus{

box-shadow:
0 0 12px rgba(255,215,0,.6);

border:none;
}

select.form-control{

height:50px;
}

.btn-gold{

background:#ffd700;

color:black;

font-weight:bold;

font-size:16px;

padding:12px 30px;

border:none;

border-radius:30px;

transition:.3s;
}

.btn-gold:hover{

background:#ffea70;

color:black;

transform:translateY(-3px);
}

#result{

margin-top:20px;

text-align:center;

font-size:18px;

font-weight:bold;

color:#90ee90;
}

form:hover{

box-shadow:
0 20px 45px rgba(255,215,0,.15);
}

@media(max-width:768px){

.page-title{

font-size:35px;
}

.container{

width:95%;
}

form{

padding:25px;
}

.btn-gold{

width:100%;
}

}