body{

font-family:'Segoe UI',sans-serif;

background:
linear-gradient(
rgba(0,0,0,0.65),
rgba(0,0,0,0.65)
),
url("../images/saloon3.png");

background-size:cover;

background-position:center;

background-repeat:no-repeat;

background-attachment:fixed;

color:white;

padding-top:50px;
}


.navbar{

background:#111;

border:none;
}

.navbar-brand{

color:#ffd700;

font-weight:bold;

font-size:24px;
}

.navbar-nav li a{

color:white;
}

.navbar-nav li a:hover{

color:#ffd700;
}


.hero{

height:600px;

display:flex;

align-items:center;

justify-content:center;

text-align:center;

background:transparent;

margin:0;
}

.hero-content h1{

font-size:65px;

font-weight:900;

color:#ffd700;

letter-spacing:3px;

text-shadow:
0 0 15px rgba(255,215,0,.5);
}

.hero-content p{

font-size:24px;

margin:20px 0;

color:white;
}


.btn-gold{

background:#ffd700;

color:black;

border:none;

font-weight:bold;

border-radius:30px;

padding:12px 25px;

margin:10px;

transition:.3s;
}

.btn-gold:hover{

background:#ffea70;

color:black;
}


.btn-outline{

background:#ffd700;

color:black;

border:none;

font-weight:bold;

border-radius:30px;

padding:12px 25px;

margin:10px;

transition:.3s;
}

.btn-outline:hover{

background:#ffea70;

color:black;

text-decoration:none;
}


.section{

margin-top:50px;
}

.section h2{

color:#ffd700;

font-weight:bold;

margin-bottom:30px;
}


.service-card{

background:
rgba(255,255,255,.08);

padding:25px;

border-radius:20px;

text-align:center;

backdrop-filter:blur(10px);

transition:.4s;

min-height:200px;
}

.service-card:hover{

transform:translateY(-10px);

box-shadow:
0 15px 30px rgba(255,215,0,.25);
}

.service-card h3{

color:#ffd700;

font-weight:bold;
}

.service-card p{

color:#ffffff;
}


.counter-box{

background:
rgba(255,255,255,.08);

padding:25px;

border-radius:20px;

text-align:center;

margin-bottom:20px;
}

.counter-box h1{

color:#ffd700;

font-size:50px;

font-weight:bold;
}

.counter-box p{

color:whit

footer{

margin-top:60px;

padding:25px;

text-align:center;

background:#111;
}

footer h4{

color:#ffd700;

font-weight:bold;
}

footer p{

color:white;
}


@media(max-width:768px){

.hero{

height:450px;
}

.hero-content h1{

font-size:38px;
}

.hero-content p{

font-size:18px;
}

.service-card{

margin-bottom:20px;

min-height:auto;
}

.counter-box{

margin-bottom:20px;
}

.navbar-brand{

font-size:18px;
}

}