body{

background:
linear-gradient(
135deg,
#0f172a,
#0f172a,
#312e81,
#0f172a
);

font-family:'Segoe UI',sans-serif;

min-height:100vh;

padding-top:40px;
}

.page-title{

text-align:center;

font-size:55px;

font-weight:bold;

color:white;

margin-bottom:40px;
}

.service-card{

background:#ffffff;

padding:30px;

border-radius:15px;

text-align:center;

margin-bottom:25px;

box-shadow:0 8px 20px rgba(0,0,0,.2);
}

.service-card h3{

color:white;

font-size:30px;

font-weight:bold;
}

.service-card p{

color:black;

font-size:18px;
}

.service-card:hover{

transform:translateY(-5px);

transition:.3s;
}

.service-card{

background:none;

padding:20px;

border-radius:15px;

}

.btn-home{

background:#ffd700;

color:black;

font-weight:bold;

padding:12px 25px;

border-radius:30px;

border:none;

margin-top:25px;

display:inline-block;

transition:0.3s;
}

.btn-home:hover{

background:#ffea70;

color:black;

text-decoration:black;

transform:translateY(-2px);
}